@media screen and (max-width:1200px) {
    .shopping-cart {
        overflow-x: scroll;

        table {
            width: 120rem;
        }

        .heading {
            text-align: left;
        }

        .checkout-btn {
            text-align: left;
        }
    }

    
}


@media screen and (max-width:990px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width:768px) {
  #menu-btn {
    display: inline-block;
    transition: .2s linear;
  } 
  
  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header {
    .flex {
        .navBar {
            position: absolute;
            top: 99%; left: 0; right: 0;
            background-color: $dark-color;
            clip-path: polygon(0 0, 100% 0, 0 0);
            transition: .2s linear;

            a {
                margin: 2rem;
                display: block;
                text-align: center;
                font-size: 2.5rem;
            }
        }
    }
  }
    .header .flex .navBar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .display-product-table {
        overflow-x: scroll;

        table {
            width: 70rem;
        }
    }

    .products {
        .box-container {
            grid-template-columns: 1fr;
        }
    }
}



@media screen and (max-width:450px) {
    html {
        font-size: 50%;
    }

    
}