
.form-vendor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem auto 5rem auto;

    form {
        margin-top: 8%;
        box-shadow: $box-shadow;
        background-color: #fff;
        width: 60%;
        border-radius: 1rem;
        padding: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

      .heading-vendor-reg {
        margin: 1.5rem auto;
        display: block;
      }

      input {
        background-color: #eee;
        margin: 1rem;
        padding: 1.2rem;
        border-radius: 1.8rem;
        width: 70%;
        border: .1px solid $light-color;

        &:hover {
            border: .18rem solid $green;
        }
      }

      label {
        font-size: 1.5rem;
        color: $dark-color;
        font-weight: 600;
        margin: 3rem auto 1rem 10%;
        width: 100%;
      }

      .logo {
        margin: 2.5rem auto 1.5rem 14%;
      }

      .bank-details {
        display: flex;
        flex-wrap: wrap;
        margin: .5rem auto 2.5rem 14%;
      }

      .vendor-password {
        margin: 2.5rem auto 2.5rem 14%;

        label {
            margin-left: 2%;
        }
      }

      button {
        margin-bottom: 2rem;
      }
    }
}